<!-- BACK BTN -->
<div class="row justify-content-end">
    <div class="col-1 mt-4">
        <input [routerLink]="['/courses']" routerLinkActive="router-link-active" type="submit"
            class="btn-sm btn-outline-danger" value="назад">
    </div>
</div>

<!-- COURSE DATA -->
<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-4 ml-auto" style="text-align: right;">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control mb-3" placeholder="Наименование">
        </div>
        <input (click)="onSaveNewCourse()" type="submit" class="btn btn-outline-success ml-2" value="Запази">
    </div>
    <div class="col-6">
        <div *ngFor="let data of metadata" class="row mb-3">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                {{ data[0] }}
            </div>
            <div class="col-8">
                <input [(ngModel)]="data[2]" type="text" value="{{ data[1] }}">
            </div>

        </div>
    </div>

    <div class="col-1"></div>
</div>