<app-navbar></app-navbar>

<table class="table table-striped table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Потребителско име</th>
            <th scope="col">Парола</th>
            <th scope="col">Регион</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coordinator of coordinators | paginate: { itemsPerPage: 10, currentPage: p }">
            <th scope="row">{{coordinator.memberID}}</th>
            <td>{{coordinator.username}}</td>
            <td>{{coordinator.password}}</td>
            <td>{{coordinator.region}}</td>

            <td><input (click)="onLoadCoordinatorDetails(coordinator)"
                class="btn btn-outline-primary" 
                type="submit" 
                value="преглед"></td>
        </tr>
    </tbody>
</table>

<!-- PAGINATION -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>