<app-navbar></app-navbar>

<!-- <div class="row justify-content-center mt-3">
    <div class="col-1">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="№">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Име">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Дата">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Валидност">
        </div>
    </div>
    <div class="col-1">
        <div class="input-group input-group-sm mb-3 justify-content-center">
            <input type="submit" class="btn btn-sm btn-info" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" value="Търси">
        </div>
    </div>
</div> -->

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Име</th>
            <th scope="col">Дата</th>
            <th scope="col">Лектор</th>
            <th scope="col">
                <input (click)="onAddNewCourse()" type="submit" class="btn btn-outline-success" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" value="Добави курс">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses | paginate: { itemsPerPage: 7, currentPage: p }">
            <th scope="row">{{course.id}}</th>
            <td>{{course.name}}</td>
            <td>{{course.date}}</td>
            <td>{{course.lector}}</td>
            
            <td><input (click)="onLoadCourseDetails(course)"
                class="btn btn-outline-primary"
                type="submit" 
                value="преглед"></td>
        </tr>
    </tbody>
</table>

<!-- PAGINATION -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>