<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <img class="ml-3" style="height: 40px;" src="../../assets/images/logo.png">
    </li>
    <li class="nav-item ml-3">
        <a [routerLink]="['/members']" routerLinkActive="router-link-active" class="nav-link active"
            href="#">Членове</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/courses']" routerLinkActive="router-link-active" class="nav-link" href="#">Курсове</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/coordinators']" routerLinkActive="router-link-active" class="nav-link"
            href="#">Координатори</a>
    </li>
    <li class="nav-item ml-auto">
        <input [routerLink]="['/']" routerLinkActive="router-link-active"  type="submit" class="mt-1 btn-sm btn-outline-danger" value="Изход">
    </li>
</ul>