<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a [routerLink]="['/members']" routerLinkActive="router-link-active"  class="nav-link active" href="#">Членове</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/courses']" routerLinkActive="router-link-active"  class="nav-link" href="#">Курсове</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/coordinators']" routerLinkActive="router-link-active"  class="nav-link" href="#">Координатори</a>
    </li>
</ul>