<!-- BACK BTN -->
<div class="row justify-content-end">
    <div class="col-1 mt-4">
        <input [routerLink]="['..']" routerLinkActive="router-link-active" type="submit"
            class="btn-sm btn-outline-danger" value="назад">
    </div>
</div>

<!-- COURSE DATA -->
<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-4 ml-auto" style="text-align: right;">
        <h3>Coordinator configure page</h3>
        <input (click)="onChangeCoordinatorDetails()" type="submit" class="btn btn-outline-primary ml-2" value="Промяна">
    </div>
    <div class="col-6">
        <div class="row mb-5">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                Username:
            </div>
            <div class="col-8">
                {{ coordinator.username }}
            </div>

        </div>

        <div class="row mb-5">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                Password:
            </div>
            <div class="col-8">
                {{ coordinator.password }}
            </div>

        </div>

        <div class="row mb-5">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                Region:
            </div>
            <div class="col-8">
                {{ coordinator.region }}
            </div>

        </div>
    </div>

    <div class="col-1"></div>
</div>