<!-- BACK BTN -->
<div class="row justify-content-end">
    <div class="col-1 mt-4">
        <input (click)="onReturnToCourseView()" routerLinkActive="router-link-active" type="submit"
            class="btn-sm btn-outline-danger" value="назад">
    </div>
</div>

<!-- COURSE DATA -->
<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-4 ml-auto" style="text-align: right;">
        <input class="mb-3 p-3" [(ngModel)]="course.name" type="text" value="{{ name }}" placeholder="Наименование">
        <input (click)="onSaveCourseData()" type="submit" class="btn btn-outline-success ml-2" value="Запази">
    </div>
    <div class="col-6">
        <div class="row mb-3">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                Дата:
            </div>
            <div class="col-8">
                <input [(ngModel)]="course.date" type="text" value="{{ date }}" placeholder="гггг-мм-дд">
            </div>

        </div>

        <div class="row mb-3">

            <div class="col-4" style="text-align: right; color:grey; font-style: italic;">
                Лектор:
            </div>
            <div class="col-8">
                <input [(ngModel)]="course.lector" type="text" value="{{ lector }}">
            </div>

        </div>
    </div>

    <div class="col-1"></div>
</div>