<app-navbar></app-navbar>

<!-- SEARCH FUNCTIONALITY -->
<div class="row justify-content-center mt-2">
    <div class="col-3"></div>

    <div class="col-2">
        <div class="input-group">
            <select class="custom-select" id="paymentStatusSelect">
                <option selected>- платежен статус -</option>
                <option value="1">Платили + Неплатили</option>
                <option value="2">Платили</option>
                <option value="3">Неплатили</option>
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <div class="input-group">
                <select class="custom-select" id="regionSelect">
                    <option selected>- регион -</option>
                    <option value="1">Всички региони</option>
                    <option value="2">Западен</option>
                    <option value="3">Източен</option>
                    <option value="4">Северен</option>
                    <option value="5">Южен</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="input-group input-group-sm mb-3 justify-content-center">
            <input type="submit" class="btn btn-primary btn-info" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" value="Търси">
        </div>
    </div>

    <div class="col-1"></div>

    <div class="col-2">
        <div class="input-group input-group-sm mb-3 justify-content-center">
            <input (click)="onAddNewMember()" type="submit" class="btn btn-outline-success" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" value="Добави член">
        </div>
    </div>
</div>

<!-- TABLE -->
<table class="table-sm table-hover" style="width: 100%;" id="membersTable">
    <thead>
        <tr>
            <th *ngFor="let headElement of headElements; let i = index" scope="col">{{headElement}}</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members | paginate: { itemsPerPage: 10, currentPage: p }">
            <th scope="row">{{member.id}}</th>
            <td>{{member.name}}</td>
            <td>{{member.personalID}}</td>
            <td>{{member.mainAddress}}</td>
            <td>{{member.region}}</td>
            <td>{{member.major}}</td>
            <td>{{member.email}}</td>
            <td>{{member.phoneNumber}}</td>

            <!-- CHANGE DATE FORMAT AND DISPLAY DATE -->
            <td>{{member.registerDate}}</td>
            <td><input (click)="onLoadMemberDetails(member)" class="btn btn-outline-primary" type="submit"
                    value="преглед"></td>
        </tr>
    </tbody>
</table>

<!-- PAGINATION -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>