<app-navbar></app-navbar>

<div class="row justify-content-center mt-3">
    <div class="col-1">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="№">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Име">
        </div>
    </div>
    <div class="col-1">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="ЕГН">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Специалност">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Email">
        </div>
    </div>
    <div class="col-2">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Телефон">
        </div>
    </div>
    <div class="col-1">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" placeholder="Регион">
        </div>
    </div>
    <div class="col-1">
        <div class="input-group input-group-sm mb-3 justify-content-center">
            <input type="submit" class="btn btn-sm btn-info" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" value="Търси">
        </div>
    </div>
</div>

<table class="table-sm table-bordered table-hover" style="width: 100%;" id="membersTable">
    <thead>
        <tr>
            <th *ngFor="let headElement of headElements; let i = index" scope="col">{{headElement}}</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members | paginate: { itemsPerPage: 10, currentPage: p }">
            <th scope="row">{{member.id}}</th>
            <td>{{member.name}}</td>
            <td>{{member.personalID}}</td>
            <td>{{member.mainAddress}}</td>
            <td>{{member.region}}</td>
            <td>{{member.major}}</td>
            <td>{{member.email}}</td>
            <td>{{member.phoneNumber}}</td>

            <!-- CHANGE DATE FORMAT AND DISPLAY DATE -->
            <td>{{member.phoneNumber}}</td>
            <td><input (click)="onLoadMemberDetails(member)" 
                class="btn btn-outline-primary" 
                type="submit" 
                value="преглед"></td>
        </tr>
    </tbody>
</table>

<!-- PAGINATION -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>